<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=localhost,11433;Initial Catalog=mydb;User ID=sa;Password=rjqnrdl"/>
  </connectionStrings>  
</configuration>
